body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: var(--main-text-color);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    text-decoration: none;
}

.header-nav {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #2E2F42;
    background-color: #FFFFFF;
}

.logo,
.logo:active,
.logo:focus {
    color: #4d5ae5;
}

.logo:focus {
    text-decoration: underline;
}

.logo:hover {
    color: #404bbf;
}

.span-logo {
    font-family: 'Raleway', sans-serif sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #2E2F42;
    text-transform: uppercase;
}

.header-nav-li {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.address-ul {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}

.section-hero {
    background-color: #2e2f42;
}

.section-hero-h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background-color: #2E2F42;
    text-align: center;
}

.btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4d5ae5;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: #404BBF;
}

.features-h2 {
    font-weight: 500;
}

.features-strategy,
.features-strategy-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
}

.section-performance-h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
}

.team {
    background-color: #F4F4FD;
}

.team-ul {
    background-color: #FFFFFF;
}

.team-ul-img-h3 {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    text-transform: capitalize;
}

.team-ul-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2E2F42;
    position: absolute;
}

.footer-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5px;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.span-logo-footer {
    color: #f4f4fd;
    line-height: 1.5;
}

.whitestudio {
    color: #FFFFFF;
    text-transform: uppercase;
}

:root {
    --main-text-color: white;
}

.div {
    background: #F4F4FD;
}

.list-div:focus {
    text-decoration: underline;
}

.div-link-blue,
.div-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
}

.div-link-blue {
    background: #404BBF;
    color: #FFFFFF;
}

.button-all {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.button-all:hover,
.button-all:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

.main-h1-prtfolio {
    list-style: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-strategy-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
